# Postgres Database
DATABASE_URL="postgresql://user:password@localhost:5432/mydb"

# Better-Auth Secret
BETTER_AUTH_SECRET="your-secret-here"
# Better-Auth URL
BETTER_AUTH_URL="http://localhost:3000"

# Github App App ID
GITHUB_APP_APPID="your-app-id-here"
# Github App Private Key
GITHUB_APP_PRIVATE_KEY="your-private-key-here"
# Github App Client ID
GITHUB_APP_CLIENT_ID="your-client-id-here"
# Github App Client Secret
GITHUB_APP_CLIENT_SECRET="your-client-secret-here"
# Github App Webhook Secret
GITHUB_APP_WEBHOOK_SECRET="your-webhook-secret-here"
